# ==========================================
# SUPABASE
# ==========================================
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# ==========================================
# GOOGLE SHEETS API
# ==========================================
GOOGLE_SERVICE_ACCOUNT_EMAIL=fiscalizacao@projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GOOGLE_SHEETS_SPREADSHEET_ID=17C6FM56h025iw48QixnXdOI2ydH2BLMPlkghCDFHe20

# ==========================================
# APP
# ==========================================
NEXTAUTH_SECRET=sua-chave-secreta-muito-segura-aqui-32-chars
NEXT_PUBLIC_APP_URL=https://seu-app.vercel.app
